**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.backup
**/*.terraform.lock.hcl
**/*.terraform.tfstate.lock.info
terraform/modules/kube-base-components/testapp/node_modules
**/go.mod
**/go.sum
**/node_modules
**/log

# Terraform files
**/terraform.tfvars
**/.terraform
**/.terraspace-cache
**/*.tfstate
**/*.tfstate.backup
**/*.terraform.lock.hcl
**/*.terraform.tfstate.lock.info
**/*.plan

# OS X files
.history
.DS_Store

# Common ruby files
**/*.gem
**/*.rbc
**/.env*
**.idea
**/.bundle
**/.config
**/.yardoc
**/_yardoc
**/coverage
**/doc/
**/Gemfile.lock
**/InstalledFiles
**/lib/bundler/man
**/log
**/output
**/pkg
**/rdoc
**/spec/fixtures/project/output
**/spec/reports
**/test/tmp
**/test/version_tmp
**/tmp
**/helm/**/charts/**.tgz
