**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.backup
**/*.terraform.lock.hcl
**/*.terraform.tfstate.lock.info
**/lambda_function.zip
terraform/modules/kube-specs/testapp/node_modules
terraform/modules/kube-specs/testapp/credentials

